  <div class="container" ng-controller="VideoDetailCtrl">
    <form class="form-horizontal" ng-submit="save()">
      <div class="row">
	<div class="span6">
	  <div class="control-group">
	    <label class="control-label" for="inputName">Video</label>
	    <div class="controls">
	      <input type="text" id="inputName" placeHolder="Video name" name="VideoName" ng-model="video.name" required/>
	      <input type="text" id="inputName" placeHolder="URL" name="VideoURL" ng-model="video.url" required/>
	      <input type="text" id="inputName" placeHolder="Embedded Code" name="VideoEmbed" ng-model="video.embedded"/>
	    </div>
	  </div>
	</div>
	<div class="span1">
	</div>
	<div class="span1">
	  <div class="controls">
	    <a ng-href="#/home/">Cancel</a>
	  </div>
	</div>
	<div class="span4">
	</div>
      </div>
    </form>
  </div>

