  <div class="container" ng-controller="VideoDetailCtrl">
    <form class="form-horizontal" ng-submit="save()">
      <div class="row">
	<div class="span6">
	  <div class="control-group">
	    <label class="control-label" for="inputName">Video *</label>
	    <div class="controls">
	      <input type="text" id="inputName" placeHolder="Give the Video a name" name="VideoName" ng-model="name" required/>
	    </div>
	    <label class="control-label" for="inputURL">Link *</label>
	    <div class="controls">
	      <input type="text" id="inputURL" placeHolder="URL" name="VideoURL" ng-model="url" required/>
	    </div>
	    <label class="control-label" for="inputCode">Embed (Optional)</label>
	    <div class="controls">
	      <input type="text" id="inputCode" placeHolder="Embedded Code" name="VideoEmbed" ng-model="embedded"/>
	    </div>
	    <label class="control-label" for="inputArtist">Artist</label>
	    <div class="controls">
	      <select id="inputArtist" ng-model="artistID" ng-options="artist.id as artist.name for artist in artists"/>
	    </div>
	  </div>
	</div>
	<div class="span5">
	  <div class="controls">
	    <input type="submit" id="saveVideo" value="Save" class="btn btn-primary"/>
	    <a ng-href="#/home/">Cancel</a>
	  </div>
	</div>
	<div class="span3">
	</div>
      </div>
    </form>
  </div>

