  <div class="container" ng-controller="HomeCtrl">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
	<h5><strong>Total Songs:</strong> {{stats.totalSongs}}</h5>
      </div>
      <div class="col-md-3">
	<h5><strong>Total Artists:</strong> {{stats.totalArtists}}</h5>
      </div>
      <div class="col-md-5">
	<h5><strong>Total Playlists:</strong> {{stats.totalPlaylists}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
	<h5><strong>Recently Added Songs</strong></h5>
	<div class="row">
	  <div class="col-md-8">
	    <div ng-repeat="song in songs">
	      <a ng-href="{{song.file_path}}">{{song.artistName}} - {{song.name}}</a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-5">
	<h5><strong>Recently Added Videos</strong></h5>
	<div class="row">
	  <div class="col-md-8">
	    <div ng-repeat="video in videos">
	      <a ng-href="{{video.url}}" target="_blank">{{video.name}}</a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
	<h5><strong>Popular Songs</strong></h5>
	<div class="row">
	  <div class="col-md-8">
	    <div ng-repeat="song in popularSongs">
	      <a ng-href="{{song.file_path}}">{{song.artistName}} - {{song.name}}</a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-5">
	<h5><strong>Favorite Links</strong></h5>
	<div class="row">
	  <div class="col-md-8">
	    <a href="http://www.kfog.com/" target="_blank">KFOG</a>
	    <br/>
	    <a href="http://www.pandora.com/" target="_blank">Pandora</a>
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
	<h5><strong>Popular Playlists</strong></h5>
	<div class="row">
	  <div class="col-md-8">
	    <div ng-repeat="playlist in popularPlaylists">
	      <a ng-href="#/playlists/play/{{playlist.id}}">{{playlist.name}}</a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
