  <div class="container" ng-controller="HomeCtrl">
    <div class="row">
      <div class="span1">
      </div>
      <div class="span3">
	<h5>Total Songs: {{stats.totalSongs}}</h5>
      </div>
      <div class="span3">
	<h5>Total Artists: {{stats.totalArtists}}</h5>
      </div>
      <div class="span3">
	<h5>Total Playlists: {{stats.totalPlaylists}}</h5>
      </div>
      <div class="span2">
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span11">
	<h5>Recently Added Songs</h5>
      </div>
    </div>
    <div class="row" ng-repeat="song in songs">
      <div class="span1">
      </div>
      <div class="span11">
	<a ng-href="{{song.file_path}}">{{song.artistName}} - {{song.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span11">
	<h5>Recently Added Videos</h5>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span11">
	<h5>Favorite Links</h5>
      </div>
    </div>

  </div>
