  <div class="container" ng-controller="HomeCtrl">
    <div class="row">
      <div class="span1">
      </div>
      <div class="span3">
	<h5>Total Songs: {{stats.totalSongs}}</h5>
      </div>
      <div class="span3">
	<h5>Total Artists: {{stats.totalArtists}}</h5>
      </div>
      <div class="span3">
	<h5>Total Playlists: {{stats.totalPlaylists}}</h5>
      </div>
      <div class="span2">
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span6">
	<h5>Recently Added Songs</h5>
      </div>
      <div class="span5">
	<h5>Recently Added Videos</h5>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span6">
	<div ng-repeat="song in songs">
	  <a ng-href="{{song.file_path}}">{{song.artistName}} - {{song.name}}</a>
	</div>
      </div>
      <div class="span5">
	<div ng-repeat="video in videos">
	  <a ng-href="{{video.url}}" target="_blank">{{video.name}}</a>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span6">
	<h5>Favorite Links</h5>
      </div>
      <div class="span5">
	<h5>Popular Songs</h5>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span6">
	<a href="http://www.kfog.com/" target="_blank">KFOG</a>
	<br/>
	<a href="http://www.pandora.com/" target="_blank">Pandora</a>
      </div>
      <div class="span5">
	<div ng-repeat="song in popularSongs">
	  <a ng-href="{{song.file_path}}">{{song.artistName}} - {{song.name}}</a>
	</div>
      </div>
    </div>

  </div>
