<!doctype html>
<html ng-app="myMusicLib">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="My Music Library"/>
  <meta name="author" content="JC"/>
  <title>My Music Library</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="WelcomeCtrl">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" ng-href="#/home">My Music Library</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    <li class="{{menuHome}}"><a ng-href="#/home" ng-click="activate('home')">Home</a></li>
	    <li class="{{menuPlaylists}}"><a ng-href="#/playlists" ng-click="activate('playlists')">Playlists</a></li>
	    <li class="{{menuArtists}}"><a ng-href="#/artists" ng-click="activate('artists')">Artists</a></li>
	    <li class="{{menuSongs}}"><a ng-href="#/songs" ng-click="activate('songs')">Songs</a></li>
	    <li class="{{menuAdmin}}"><a ng-href="#/admin" ng-click="activate('admin')" ng-show="su">Admin</a></li>
	    <li class="{{menuVideos}}"><a ng-href="#/videos" ng-click="activate('videos')">Videos</a></li>
	    <li class="{{menuSuggest}}"><a ng-href="#/suggest" ng-click="activate('suggest')">Suggest a Song</a></li>
	    <li class="active pull-right dropdown">
	      <a href="#/home" class="dropdown-toggle" data-toggle="dropdown">{{name}} <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a ng-href="#/auth/logout">Logout</a></li>
	      </ul>
	    </li>
          </ul>
      </div><!--/.nav-collapse -->
    </div><!-- container -->
  </div>

  <div ng-view></div>

  <footer>Version:<span app-version></span></footer>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
