/* app css stylesheet */ 


input.rounded {
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  padding: 4px 7px;
}

.lyrics {
  background-color: darkblue;
  font-weight:bold;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  float:left;
  width: 350px;
  height: 200px;
}

