    <div class="container" ng-controller="SongCtrl">
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-9">
	  <h2>Songs</h2>
	</div>
	<div class="col-md-2">
	  <a ng-href="#/home">[Back to Home]</a>
	</div>
      </div>
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
	  <input type="search" ng-model="queryTerm" class="rounded search-query" placeholder="Search" ng-change="search()"/>
	</div>
      </div>
      <div class="row" ng-repeat="song in songs">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
	    <a ng-href="{{song.file_path}}">{{song.name}}</a>
	</div>
      </div>
    </div>



