    <ul class="nav nav-tabs">
      <li><a ng-href="#/admin">Users</a></li>
      <li class="active"><a ng-href="#/songs/add">Song <span class="glyphicon glyphicon-plus-sign"></span></a></li>
      <li><a ng-href="#/songs/edit">Song <span class="glyphicon glyphicon-edit"></span></a></li>
    </ul>
    <div class="container" ng-controller="SongAddCtrl">
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
	  <h4>New Song</h4>
	</div>
      </div>
      <br/>
      <form class="form-horizontal" role="form" ng-submit="save()" enctype="multipart/form-data">
	<div class="form-group">
	  <label class="control-label" for="inputName">Name</label>
	  <input class="form-control" type="text" id="inputName" placeHolder="Song name" name="SongName" ng-model="songName" required/>
	</div>
	<div class="form-group">
	  <label class="control-label" for="inputPath">Path</label>
	  <input class="form-control" type="text" id="inputPath" placeHolder="Song path" name="SongPath" ng-model="songFilePath" required/>
	</div>
	<div class="form-group">
	  <label class="control-label" for="inputArtist">Artist</label>
	  <select id="inputArtist" class="form-control" ng-model="artistID" ng-options="artist.id as artist.name for artist in artists"/>
	</div>
	<div class="form-group">
	  <label class="control-label" for="inputFile">Upload</label>
	  <input class="form-control" type="file" id="inputFile" data-url="/upload" name="SongFile" required/>
	</div>
	<div class="form-group">
	  <input type="submit" id="updateSong" value="Save" class="btn btn-primary btn-xs"/>
	  <a class="btn btn-default btn-xs" ng-href="#/admin/">Cancel</a>
	</div>
      </form>
    </div>

