    <div class="container" ng-controller="UserCtrl">
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-9">
	  <h2>Users</h2>
	</div>
	<div class="col-md-2">
	</div>
      </div>
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
	  <input type="search" ng-model="searchUser" class="rounded search-query" placeholder="Search"/>
	</div>
      </div>
      <div class="row" ng-repeat="user in users | filter:searchUser | orderBy:'email'">
	<div class="col-md-4">
	  {{user.google_email}}
	</div>
	<div class="col-md-4">
	  {{user.google_display_name}}
	</div>
	<div class="col-md-4">
	  {{user.last_login}}
	</div>
      </div>
    </div>


