    <ul class="nav nav-tabs">
      <li class="active"><a ng-href="#/admin">Users</a></li>
      <li><a ng-href="#/songs/upload">Song <span class="glyphicon glyphicon-plus-sign"></span></a></li>
      <li><a ng-href="#/songs/edit">Song <span class="glyphicon glyphicon-edit"></span></a></li>
      <li><a ng-href="#/songs/lyrics/edit">Song Lyrics <span class="glyphicon glyphicon-music"></span></a></li>
    </ul>
    <div class="container" ng-controller="UserCtrl">
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-9">
	  <h4>Users</h4>
	</div>
	<div class="col-md-2">
	</div>
      </div>
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
	  <input type="search" ng-model="searchUser" class="rounded search-query" placeholder="Search"/>
	</div>
      </div>
      <hr/>
      <div class="row" ng-repeat="user in users | filter:searchUser | orderBy:'email'">
	<div class="col-md-4">
	  {{user.google_email}}
	</div>
	<div class="col-md-4">
	  {{user.google_display_name}}
	</div>
	<div class="col-md-4">
	  {{user.last_login}}
	</div>
      </div>
    </div>


