  <div class="container" ng-controller="ArtistDetailCtrl">
    <div class="row">
      <div class="col-md-10">
	<h1>{{artist.name}}</h1>
      </div>
    <div class="col-md-2">
      <a ng-href="#/artists" class="btn btn-link">[Back to Artists]</a>
    </div>
  </div>
  <form class="form-horizontal" role="form" ng-submit="save()">
    <div class="row">
      <div class="col-md-8">
	<input type="search" ng-model="searchSong" class="rounded search-query" placeHolder="Search" autofocus/>
	<hr/>
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="song in songs | filter:searchSong | orderBy:'name'">
	    <input type="checkbox" id="remove-{{song.id}}" ng-model="song.isSelected" ng-change="songChecked(song)"/>
	    <a ng-href="{{song.file_path}}">{{song.name}}</a>
          </li>
	</ul>
      </div>
      <div class="col-md-4">
	<legend>Playlists</legend>
	<fieldset>
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat="playlist in playlists | orderBy:'name'">
	      <input type="radio" ng-model="selectedValue" value="playlist.name" ng-click="playlistSelected(playlist)" name="RadioButtons"/>
	      <span>{{playlist.name}}</span>
	    </li>
	  </ul>
	  <hr/>
	  <input type="submit" class="btn btn-primary" id="addSongsToPlaylist" value="Add Songs"/>
	</fieldset>
      </div>
    </div>
  </form>

