  <div class="container" ng-controller="WelcomeCtrl">
    <div class="hero-unit">
      <h1><em>Welcome</em>
	<h2>{{name}}</h2>
      </h1>
      <p>to my music library....</p>
      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
  </div>

